<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifyezedev.notanotebook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ifyezedev.notanotebook.EmailVerificationActivity"
            android:theme="@style/SignIn_Activity_Theme"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.ifyezedev.notanotebook.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SignIn_Activity_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ifyezedev.notanotebook.NotebookSearchActivity"
            android:parentActivityName="com.ifyezedev.notanotebook.NotebookActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookActivity" />
        </activity>
        <activity
            android:name="com.ifyezedev.notanotebook.PinLockScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/PinLockScreenActivityTheme"></activity>
        <activity
            android:name="com.ifyezedev.notanotebook.ArchiveActivity"
            android:parentActivityName="com.ifyezedev.notanotebook.NotebookActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookActivity" />
        </activity>
        <activity
            android:name="com.ifyezedev.notanotebook.NoteViewActivity"
            android:parentActivityName="com.ifyezedev.notanotebook.NotebookContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Note_Edit_View_Activity_Theme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookContentActivity" />
        </activity>
        <activity
            android:name="com.ifyezedev.notanotebook.ChecklistEditActivity"
            android:parentActivityName="com.ifyezedev.notanotebook.NotebookContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChecklistEditActivityTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookContentActivity" />
        </activity>
        <activity
            android:name="com.ifyezedev.notanotebook.NoteEditActivity"
            android:parentActivityName="com.ifyezedev.notanotebook.NotebookContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Note_Edit_View_Activity_Theme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookContentActivity" />
        </activity>
        <activity
            android:name="com.ifyezedev.notanotebook.NotebookContentActivity"
            android:label="Notebook Content"
            android:parentActivityName="com.ifyezedev.notanotebook.NotebookActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookActivity" />
        </activity>
        <activity
            android:name="com.ifyezedev.notanotebook.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChecklistEditActivityTheme"></activity>
        <activity
            android:name="com.ifyezedev.notanotebook.NotebookActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>