<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifyezedev.notanotebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SecurityQuestionActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">

        </activity>
        <activity
            android:name=".IntentReceiverActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmailVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SignIn_Activity_Theme">

        </activity>
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SignIn_Activity_Theme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".NotebookSearchActivity"
            android:parentActivityName=".NotebookActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookActivity" />
        </activity>
        <activity
            android:name=".PinLockScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/PinLockScreenActivityTheme" />
        <activity
            android:name=".ArchiveActivity"
            android:parentActivityName=".NotebookActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookActivity" />
        </activity>
        <activity
            android:name=".NoteViewActivity"
            android:parentActivityName=".NotebookContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Note_Edit_View_Activity_Theme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookContentActivity" />
        </activity>
        <activity
            android:name=".ChecklistEditActivity"
            android:parentActivityName=".NotebookContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChecklistEditActivityTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookContentActivity" />
        </activity>
        <activity
            android:name=".NoteEditActivity"
            android:parentActivityName=".NotebookContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Note_Edit_View_Activity_Theme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookContentActivity" />
        </activity>
        <activity
            android:name=".NotebookContentActivity"
            android:label="Notebook Content"
            android:parentActivityName=".NotebookActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifyezedev.notanotebook.NotebookActivity" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChecklistEditActivityTheme" />
        <activity
            android:name=".NotebookActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>